<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- 1. cargamos webcomponents-lite.min.js para obtener soporte polyfill. -->
    <script src="bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>

    <!-- 2. Usamos HTML Import para cargar la librearia Polymer y los Polymer elements con que vamos a usar. -->
    <link rel="import" href="bower_components/polymer/polymer.html">
    <link rel="import" href="bower_components/iron-flex-layout/iron-flex-layout.html">
    <link rel="import" href="bower_components/iron-list/iron-list.html">
    <link rel="import" href="bower_components/paper-button/paper-button.html">
    <link rel="import" href="bower_components/paper-input/paper-input.html">
    <link rel="import" href="bower_components/iron-ajax/iron-ajax.html">
    <link rel="import" href="bower_components/paper-toolbar/paper-toolbar.html">

    <dom-module id="my-app">

      <style>
        /* Aqui definimos las reglas CSS del elemento my-app */
        :host {
          @apply(--layout-fit);
          @apply(--layout-vertical);

          display: block;
          font-family: sans-serif;
        }
        
        #searchTerm {
          padding: 0 16px;
        }

        .toolbar {
          background: #E91E63;
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
          color: white;
        }

        #list {
          @apply(--layout-flex);
        }

        .item {
          padding: 16px;
          @apply(--layout-horizontal);
        }

        .avatar {
          height: 40px;
          width: 40px;
          border-radius: 20px;
          box-sizing: border-box;
          border: 1px solid #DDD;
          background-color: #DDD;
        }

        .pad {
          padding: 0 16px;
          @apply(--layout-flex);
          @apply(--layout-vertical);
        }

        .primary {
          font-size: 16px;
        }

        .secondary {
          font-size: 14px;
        }

        .dim {
          color: gray;
        }

        .border {
          margin-left: 72px;
          border-bottom: 1px solid #DDD;
        }

        iron-icon {
          width: 24px;
          height: 24px;
        }

        .erromess {
          color: red
        }
      </style>
      
      <template>
        <!-- Aqui definimos los nodos que conforman el DOM del elemento my-app -->
        <!-- <iron-ajax id="ajaxElem" url="contacts.json" last-response="{{data}}" on-response="handleResponse"></iron-ajax> -->
        <iron-ajax id="ajaxElem" url="https://www.googleapis.com/youtube/v3/search"
          params='{"part":"snippet", "q":"polymer", "key": "AIzaSyAuecFZ9xJXbGDkQYWBmYrtzOGJD-iDIgI", "type": "video"}'
          handle-as="json" last-response="{{data}}" on-response="handleResponse"></iron-ajax>
        <paper-toolbar class="toolbar">
          <div>PolyTube V1.0</div>
        </paper-toolbar>
        <paper-input id="searchTerm" label="Termino de busqueda..." value={{searchTerm}}></paper-input>
        <div id="message"></div>
        <paper-button on-click="buscarData">Buscar</paper-button>
        <iron-list id="list" items="[[data.items]]" as="item">
          <template>
            <div>
              <div class="item">
                
                <img src="[[item.snippet.thumbnails.default.url]]">
                <div class="pad">
                  <div class="primary">
                    <span>[[item.snippet.title]]</span>
                  </div>
                  <div class="secondary">[[item.snippet.channelTitle]]</div>
                  <div class="secondary dim">[[item.snippet.description]]</div>
                  <a href$="[[getVideoUrl(item.id.videoId)]]">Ver video</a>
                </div>
              </div>
            </div>
          </template>
        </iron-list>
      </template>

      <script>
        HTMLImports.whenReady(function() {
          // registramos el nuevo elemento
          Polymer({
            is: "my-app",

            created: function() {
              //Inicializamos
              console.log("On created");
            },

            attached: function() {
              console.log("On attached");
            },

            detached: function() {
              console.log("On detached");
            },

            attributeChanged: function(name, type) {
              console.log(this.localName + '#' + this.id + ' attribute ' + name +
                ' was changed to ' + this.getAttribute(name));
            },

            // Agregamos propiedades y/o metodos al prototipo del elemento my-app
            buscarData: function() {
              console.log("buscarData " + this.$.searchTerm.value);
              if (this.$.searchTerm.value != "") {
                //Llamamos al metodo _requestData para realizar la petición Ajax
                this._requestData(this.$.searchTerm.value);  
              } else {
                //Mostramos un mensaje de error 
                this._showMessage("error", "Debe indicar un termino");
              }
            },

            handleResponse: function(resp){
              console.log("On handleResponse");
              console.log(resp.detail.response);
            },

            properties: {
              // Declaramos las propiedades publicas del elemento my-app
              searchTerm: {
                type: String,
                value: "polymer"
              },
              users: {
                type: Array,
                value: function() {
                  return [];
                }
              }
            },

            getVideoUrl: function(videoId) {
              return "https://www.youtube.com/watch?v=" + videoId;
            },

            //Metodo para realizar la peticion Akax
            _requestData: function(iv_term) {
              //definimos los paramertros de la API de YouTube
              var lo_params = {
                "part":"snippet", 
                "key": "AIzaSyAuecFZ9xJXbGDkQYWBmYrtzOGJD-iDIgI", 
                "type": "video",
                "q":iv_term
              };
              //Le pasamos los parametros al elemento iron-ajax
              this.$.ajaxElem.params = lo_params;
              //Ejecutamos la peticion Ajax
              this.$.ajaxElem.generateRequest();
            },

            //Método para mostrar un mensaje en la seccion con el id message
            _showMessage: function(type, mess) {
              this.$.message.textContent = mess;
              if (type === "error") {
                this.$.message.setAttribute("class", "errormess");
              };
            }
          });
        });
      </script>

    </dom-module>
  </head>
  <body unresolved>
    <!-- Declaramos el uso de nuestro nuevo elemento my-app -->
    <my-app></my-app>
  </body>
</html> 